# Day 2 List Comprehension

### Defining a list using for loop

In [1]:
Product_Price = [133,132,154,232,125,653]

for every_product in Product_Price:
    print(every_product*5)

665
660
770
1160
625
3265

In [2]:
#### Using List Comprehension
Product_Price = [133,132,154,232,125,653]

[ every_product*5     for every_product in Product_Price]

[665, 660, 770, 1160, 625, 3265]

In [4]:
# Read First letter using list comprehension
products = ["Automation","Automicity","Beverages","Destination","Estimation"]
[  v[0]   for v in products]

['A', 'A', 'B', 'D', 'E']

In [6]:
# Read first five letters using list comprehension
products = ["Rotor","Autospares","Beverages","Detergents","Transmiter"]

[ v[0:5]  for v in products]

['Rotor', 'Autos', 'Bever', 'Deter', 'Trans']

In [8]:
# Iteration over more than one iterable in a list
products = ["Rotor","Autospares","Beverages","Detergents","Transmiter"]
Product_Price = [133,132,154,232,125]
[(p,pr)    for p in products for pr in Product_Price]

[('Rotor', 133),
 ('Rotor', 132),
 ('Rotor', 154),
 ('Rotor', 232),
 ('Rotor', 125),
 ('Autospares', 133),
 ('Autospares', 132),
 ('Autospares', 154),
 ('Autospares', 232),
 ('Autospares', 125),
 ('Beverages', 133),
 ('Beverages', 132),
 ('Beverages', 154),
 ('Beverages', 232),
 ('Beverages', 125),
 ('Detergents', 133),
 ('Detergents', 132),
 ('Detergents', 154),
 ('Detergents', 232),
 ('Detergents', 125),
 ('Transmiter', 133),
 ('Transmiter', 132),
 ('Transmiter', 154),
 ('Transmiter', 232),
 ('Transmiter', 125)]

# Inclass

### Use list comprehension to obtain the squre root of first 10 natural numbers.

In [6]:
[round((i**0.5),2) for i in range(0,11)]

[0.0, 1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

### Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user).

In [12]:
n = input("Enter the sentence - ")
v = "aeiouAEIOU"
[ i  for i in n if i in v]

Enter the sentence - This the Great Opportunity

['i', 'e', 'e', 'a', 'O', 'o', 'u', 'i']

### Use list comprehension to find even and odd numbers from first 20 whole numbers.

In [27]:
print([i   for i in range(1,21) if i%2==0])
print([i   for i in range(1,21) if i%2!=0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Use list comprehension to print numbers divisible by 2 and 3 in between 1 and 100.

In [28]:
[  i  for i in range(1,101) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

### Use list comprehension to print table of 11 to 20 as shown below.

In [35]:
[[(i*j)  for j in range(1,11)] for i in range(11,21)]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

### Use list comprehension to find transpose of the matrix given below.

In [ ]:
1, 2
3, 4
5, 6
7, 8

# Takehome

### Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [54]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
[  j  for i in astro for j in i if len(j)<5]

['sky', 'sun', 'moon', 'star', 'mars']

### Write a program to transpose a matrix using list comprehension

In [ ]:
matrix=[[1,2],[3,4],[5,6],[7,8]]
Output: [[1, 3, 5, 7], [2, 4, 6, 8]]

In [58]:
matrix=[[1,2],[3,4],[5,6],[7,8]]
[ [j[i]   for j in matrix] for i in range(2)]

[[1, 3, 5, 7], [2, 4, 6, 8]]